
#  Sur Windows : parfait pour pouvoir utiliser le service cloud vision api
# Pour fACE-ID deja compiler contrairement a mon local que j'ai compiler moi-meme par dlib

fastapi
uvicorn
mysql-connector-python
python-dotenv
google-cloud-vision==3.10.2
numpy
